/* Write your code here */
.app-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/reviews-bg.png');
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.review-Data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.button-container {
  display: flex;
}
.button-style {
  background-color: transparent;
  height: 80px;
  width: 80px;
  border-width: 0px;
}
.username-para {
  color: white;
}
.companyName-style {
  font-size: 20px;
}
.description-style{
  font-size: 20px;
}